*, img, body{ margin: 0; padding: 0; border: 0; }

body{
	font-family: 'Realtime-Regular', sans-serif;
	line-height: 16px;
	font-size: 13px;
	color: #1a1a1a;
}

.home{
	background-color: #FF002B;
	position: relative;
}

/* -------------------- type -------------------- */

@font-face {
    font-family: 'Realtime-Regular';
    src: url('../fonts/realtime.eot');
    src: url('../fonts/realtime.eot?#iefix') format('embedded-opentype'),
         url('../fonts/realtime.woff2') format('woff2'),
         url('../fonts/realtime.woff') format('woff'),
         url('../fonts/realtime.ttf') format('truetype'),
         url('../fonts/realtime.svg#ywftsvg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* -------------------- links -------------------- */

a:active{ outline: none; }
a:focus{ -moz-outline-style: none; outline-style: none; }

a:link{
	text-decoration: none;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

a{
	background-color: #fff;
	padding: 7px 10px 10px 10px;
	margin: 0px 1px 1px 0;
	float: left;
	color: #1a1a1a;
}

a:hover{
	background-color: #FF002B;
}

/* -------------------- header -------------------- */

header{
	position: fixed;
}

nav, .name{
	display: table-row;
}

.name p{
	background-color: #444;
	padding: 7px 10px 10px 10px;
	margin: 0px 1px 0 0;
	color: #fff;
	float: left;
}

/* -------------------- content -------------------- */

.content{
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	resize: both;
	overflow: auto;
}

.content img{
	max-height: 95vh;
	max-width: 95vw;
	resize: both;
	overflow: auto;
}

.full img{
	height: 100vh;
	width: 100vw;
}

/* -------------------- table -------------------- */

.rows{
	padding-top: 68px;
}

.row{
    display: block;
    float: none;
}

.number{
	color: #1a1a1a;
	width: 2.25%;
}

.title{
	padding: 0 0 2px 0px;
	width: 29.75%;
	margin-right: 4%;
	text-rendering: optimizelegibility;
	color: #1a1a1a;
}

.row:visited .title{
	text-decoration: line-through;
}

/* -------------------- footer -------------------- */

.about{
	padding: 30px 0 36px 0;
}

.about p{
	padding-bottom: 8px;
}

.intro{
	float: left;
	line-height: 18px;
	width: 32%;
	padding: 0 4% 0 4%;
}

.social{
	float: left;
	width: 17%;
	padding: 0 4% 0 0;
	list-style-type: none;
}

/* -------------------- text highlighting -------------------- */

::selection{ background: #ffffff; color: #282828; } /* Safari */
::-moz-selection{ background: #ffffff; color: #282828; } /* Firefox */

/* -------------------- media queries -------------------- */

@media screen and (min-width: 500px) {
}
