*, img, body{ margin: 0; padding: 0; border: 0; }

body{
	font-family: 'Realtime-Regular', sans-serif;
	color: #B4B3B2;
	overflow-x: hidden;
	line-height: 16px;
	font-size: 13px;
}

.home{
	background-color: #FF002B;
	position: relative;
}

/* -------------------- type -------------------- */

@font-face {
    font-family: 'Realtime-Regular';
    src: url('../fonts/realtime.eot');
    src: url('../fonts/realtime.eot?#iefix') format('embedded-opentype'),
         url('../fonts/realtime.woff2') format('woff2'),
         url('../fonts/realtime.woff') format('woff'),
         url('../fonts/realtime.ttf') format('truetype'),
         url('../fonts/realtime.svg#ywftsvg') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*
h1{ 
	color: #1a1a1a;
	font-size: 20px;
	padding: 0px 0px 24px 8%;
	font-weight: normal;
	line-height: 24px;
}

/* -------------------- links -------------------- */

a:active{ outline: none; }
a:focus{ -moz-outline-style: none; outline-style: none; }

p a:link, p a:visited{
	border-bottom: 1px dotted #545454;
	color: #545454;
}

ul a:link, ul a:visited{
	color: #13A4F2;
	border-bottom: 1px dotted #13A4F2;
	padding-bottom: 2px;
}

h2 a:link, h2 a:visited{
	color: #1a1a1a;
	border-bottom: 1px solid #13A4F2;
	padding-bottom: 2px;
}

a:link, a:visited, .row, .title, .number, .hack{
	text-decoration: none;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

p a:hover, ul a:hover, h2 a:hover{
	border-bottom: 1px dotted #aaaaaa;
	color: #aaaaaa;
}

/* -------------------- header -------------------- */
/*
header{
	width: 100%;
	padding: 34px 0 0 0;
}

header, .row, .about, .controls{
	max-width: 1200px;
	margin: 0 auto;
}

.logo{
	width: 48px;
	opacity: 0.75;
}

header{
	width: 100%;
	padding: 0px;
	margin: 0px;
	top: 0;
}
*/

header{
	position: fixed;
}

nav{
	display: table-row;
}

nav a{
	background-color: #fff;
	padding: 7px 10px 10px 10px;
	margin: 0px 1px 1px 0;
	color: #1a1a1a;
	float: left;
}

nav a:hover{
	background-color: #FF002B;
}

.title{
	display: table-row;
}

.title a{
	background-color: #fff;
	padding: 7px 10px 10px 10px;
	margin: 0px 1px 0 0;
float: left;
}

.title a:hover{
	background-color: #FF002B;
}

.title p{
	background-color: #444;
	padding: 7px 10px 10px 10px;
	margin: 0px 1px 0 0;
	color: #fff;
	float: left;
}

.content{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  resize: both;
  overflow: auto;
}

.content img{
	max-height: 95vh;
	max-width: 95vw;
  resize: both;
  overflow: auto;


}

/* -------------------- table -------------------- */
/*
.controls{
	margin-bottom: 24px;
}

.title-sort{
	position: absolute;
	right: 5%;
	margin-right: 5px;
	color: #B4B3B2;
}

.controls a{
	margin-right: 5px;
	color: #B4B3B2;
}

.title{
	text-transform: capitalize;
	text-rendering: optimizelegibility;
	color: #282828;
}

.number{
	color: #282828;
}

.tags{
	display: block;
	left: 150px;
	padding: 0 0 0 25px;
}

.date{
	display: block;
	padding: 0 0 0 25px;
}

.row{
	border-top: 1px solid #efefef;
    padding: 14px 0;
    display: block;

}

.row:link, .row:visited{
	color: #B4B3B2;
}

/* -------------------- footer -------------------- */
/*
.about{
	padding: 24px 0;
}

.intro{
	padding: 0px 4% 16px 4%;
}

.intro p{
	color: #282828;
	padding-bottom: 8px;
}

.blurb{
	padding: 0px 4% 16px 4%;
}

.blurb p{
	color: #282828	;
	padding-bottom: 8px;
}

.social{
	padding: 0px 4% 24px 4%;
}

.social ul{
	list-style-type: none;
}

/* -------------------- text highlighting -------------------- */

::selection{ background: #E8E8E8; color: #13A4F2; } /* Safari */
::-moz-selection{ background: #E8E8E8; color: #13A4F2; } /* Firefox */

/* -------------------- media queries -------------------- */
/*
@media screen and (min-width: 500px) {

body{
	line-height: 24px;
	font-size: 14px;
}
*/
/* -------------------- header -------------------- */
/*
header{
	width: 100%;
	padding: 88px 0 30px 0;
}

.logo{
	width: 48px;
	opacity: 0.75;
	margin-left: 3%;
}

/* -------------------- table -------------------- */
/*
.controls{
	position: relative;
	margin-bottom: 36px;
}

.title-sort{
	position: absolute;
	left: 4%;
}

.number{
	padding-bottom: 0px;
	margin-left: 4%;
	width: 2.25%;
	vertical-align: top;
	display: inline-block;
}

.title{
	padding: 0 0 2px 0px;
	width: 29.75%;
	margin-right: 4%;
	display: inline-block;
	vertical-align: top;
}

.hack{
	padding: 0 0 2px 0px;
	border-bottom: 1px dotted #fff;
}

.tags{
	display: inline-block;
	padding: 0;
	width: 35%;
	margin-right: 4%;
    vertical-align: top;
}

.date{
	display: inline;
	padding: 0;
	width: 17%;
	margin-right: 4%;
	display: inline-block;
}

.row:hover{
	color: #282828;
}

.row:hover > .title> .hack, .row:hover > .number> .hack {
	color: #282828;
	border-bottom: 1px dotted #282828;
}

/* -------------------- footer -------------------- */
/*
.about{
	padding: 30px 0 36px 0;
}

.about section{
	vertical-align: top;
}

.intro{
	line-height: 18px;
	width: 32%;
	padding: 0 4% 0 4%;
	display: inline-block;
}

.blurb{
	line-height: 18px;
	width: 33%;
	padding: 0 6% 0 0;
	display: inline-block;
}

.social{
	width: 17%;
	padding: 0 4% 0 0;
	display: inline-block;
}

}
