*, img, body{ margin: 0; padding: 0; border: 0; }

body{
	font-family: 'Realtime-Regular', sans-serif;
	overflow-x: hidden;
	line-height: 16px;
	font-size: 13px;
}

.home{
	background-color: #FF002B;
	position: relative;
}

/* -------------------- type -------------------- */

@font-face {
    font-family: 'Realtime-Regular';
    src: url('../fonts/realtime.eot');
    src: url('../fonts/realtime.eot?#iefix') format('embedded-opentype'),
         url('../fonts/realtime.woff2') format('woff2'),
         url('../fonts/realtime.woff') format('woff'),
         url('../fonts/realtime.ttf') format('truetype'),
         url('../fonts/realtime.svg#ywftsvg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* -------------------- links -------------------- */

a:active{ outline: none; }
a:focus{ -moz-outline-style: none; outline-style: none; }

p a:link, p a:visited{
	border-bottom: 1px dotted #545454;
	color: #545454;
}

ul a:link, ul a:visited{
	color: #fff;
	border-bottom: 1px dotted #fff;
	padding-bottom: 2px;
}

h2 a:link, h2 a:visited{
	color: #1a1a1a;
	border-bottom: 1px solid #13A4F2;
	padding-bottom: 2px;
}

a:link, a:visited, .row, .title, .number, .hack{
	text-decoration: none;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

p a:hover, ul a:hover, h2 a:hover{
	border-bottom: 1px dotted #aaaaaa;
	color: #aaaaaa;
}

/* -------------------- header -------------------- */

header{
	position: fixed;
}

nav{
	display: table-row;
}

nav a{
	background-color: #fff;
	padding: 7px 10px 10px 10px;
	margin: 0px 1px 1px 0;
	color: #1a1a1a;
	float: left;
}

nav a:hover{
	background-color: #FF002B;
}

.name{
	display: table-row;
}

.name a{
	background-color: #fff;
	padding: 7px 10px 10px 10px;
	margin: 0px 1px 0 0;
	float: left;
}

.name a:hover{
	background-color: #FF002B;
}

.name p{
	background-color: #444;
	padding: 7px 10px 10px 10px;
	margin: 0px 1px 0 0;
	color: #fff;
	float: left;
}

.content{
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	resize: both;
	overflow: auto;
}

.content img{
	max-height: 95vh;
	max-width: 95vw;
	resize: both;
	overflow: auto;
}

.full img{
	height: 100vh;
	width: 100vw;
}


/* -------------------- table -------------------- */

.rows{
	padding-top: 100px;
}

.title{
	text-transform: capitalize;
	text-rendering: optimizelegibility;
	color: #1a1a1a;
}

.number{
	color: #1a1a1a	;
}

.row{
    padding: 14px 0;
    display: block;
    background-color: #fff;
    margin: 0px 0px 1px 0px;
}

.row:link, .row:visited{
	color: #fff;
}

/* -------------------- footer -------------------- */

.about{
	padding: 24px 0;
}

.about p{
	float: left;
}

.intro{
	padding: 0px 4% 16px 4%;
	float: left;
}

.intro p{
	color: #282828;
	padding-bottom: 8px;
}

.social{
	padding: 0px 4% 24px 4%;
	float: left;
}

.social ul{
	list-style-type: none;
}

/* -------------------- text highlighting -------------------- */

::selection{ background: #ffffff; color: #282828; } /* Safari */
::-moz-selection{ background: #ffffff; color: #282828; } /* Firefox */

/* -------------------- media queries -------------------- */

@media screen and (min-width: 500px) {

/* -------------------- table -------------------- */

.number{
	padding-bottom: 0px;
	margin-left: 4%;
	width: 2.25%;
	vertical-align: top;
	display: inline-block;
}

.title{
	padding: 0 0 2px 0px;
	width: 29.75%;
	margin-right: 4%;
	display: inline-block;
	vertical-align: top;
}

.row:hover{
	color: #282828;
	background-color: #FF002B;
}

.row:visited{
	text-decoration: line-through;
}


/* -------------------- footer -------------------- */

.about{
	padding: 30px 0 36px 0;
}

.about section{
	vertical-align: top;
}

.intro{
	line-height: 18px;
	width: 32%;
	padding: 0 4% 0 4%;
	display: inline-block;
}

.social{
	width: 17%;
	padding: 0 4% 0 0;
	display: inline-block;
}

}
